# # Ignore all CSV files
*.csv

# But do NOT ignore dummy_customer_care_data.csv
!dummy_customer_care_data.csv

# Ignore all Excel files
*.xlsx

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# OS-specific hidden files
Thumbs.db
.DS_Store
